* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
  padding: 1em;
  background-color: rgb(0, 12, 119);
}

h1 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: rgb(204, 204, 204);
}

.container {
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  gap: 1.5rem;

  border-radius: 1em;

  margin: 0 auto;
  max-width: 1440px;
}

.car {
  display: grid;
  flex-direction: column;

  border-radius: 2rem;
  background-color: beige;
}

.car-image {
  width: 100%;
  max-width: 500px;
  border-radius: 2rem;
  overflow: hidden;
}

.car-name {
  gap: 1rem;
  padding: 1rem;

  text-align: left;
  font-size: 2em;
  color: rgb(255, 87, 87);
}

.car-description {
  gap: 1rem;
  padding: 1rem;

  text-align: left;
  font-size: 1rem;
  line-height: 1.36em;
}

.button {
  background-color: rgb(255, 76, 76);
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 2rem;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3seg;
  align-self: flex-start;
}

.button:hover {
  background-color: rgb(75, 0, 0);
}

/* Pantallas max-eidith: 1023px */
@media screen and (max-width: 1023px) {
  .container {
    grid-template-columns: repeat(2, 1fr);

    padding: 0.5em;
  }

  .pokemon {
    padding: 1.2em;
    gap: 0.75em;
  }
}

/* Pantallas max-widith: 435px */
@media screen and (max-width: 435px) {
  .container {
    grid-template-columns: 1fr;
    padding: 0.2em;
  }

  .car {
    padding: 1em;
    gap: 0.5em;
  }
}